@import "tailwindcss";

@font-face {
  font-family: 'Press Start 2P';
  src: url('../assets/fonts/PressStart2P-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-primary: 'Press Start 2P', system-ui;
}

@theme {
	--shadow-button: 0px 5px #000,
	0px -5px #000,
	5px 0px #000,
	-5px 0px #000,
	0px 10px #00000038,
	5px 5px #00000038,
	-5px 5px #00000038,
	inset 0px 5px #ffffff36;

	--shadow-button-active: 0px 5px black,
	0px -5px black,
	5px 0px black,
	-5px 0px black,
	inset 0px 5px #00000038;
}

*,
*::before,
*::after {
	cursor: url("/cursor.png"), auto;
}

button {
	cursor: url("/cursor-click.png"), auto;
}

body {
  background: var(--background) !important;
  color: var(--foreground) !important;
  font-family: var(--font-primary) !important;
  font-weight: 400;
  font-style: normal;
}

@keyframes marioJump {
	0% { transform: translateY(0); }
	30% { transform: translateY(-40px); }
	60% { transform: translateY(0); }
	100% { transform: translateY(0); }
}
  
.mario-jump {
	animation: marioJump 0.6s ease-out forwards;
}

.fade-out {
	opacity: 0;
	transition: opacity 1s ease-in-out;
}

.fade-in {
	opacity: 0;
	animation: fadeIn 1s ease-in-out forwards;
}
  
@keyframes fadeIn {
	to {
		opacity: 1;
	}
}